@import url("./__logo/header__logo.css");
.header {
  display: flex;
  max-width: 882px;
  height: 119px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  margin: 0 auto;
  transition: ease 0.5s;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 0 27px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    margin: 0 auto;
  }
}

