@import url("./__container/popup-enlarged__container.css");
@import url("./__image/popup-enlarged__image.css");
@import url("./__close-button/popup-enlarged__close-button.css");
.popup-enlarged{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  display: none;
}

